<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>理财百科爬虫项目</title>
</head>
<body>
<h1 style ="text-align:center">理财百科爬虫项目</h1>
	 <input type="button" onClick="spiderCompany();"  value="企业信息爬取"/>
	 <input type="button" onClick="spiderPrivateStock();"  value="私募排名信息爬取"/>
	 <input type="button" onClick="spiderOverSeasFund();"  value="海外基金信息爬取"/>
	 <input type="button" onClick="spiderProduct();" value="单账户基金信息爬取"/>
	 <input type="button" onClick="spiderNewThreeFund();" value="新三板基金信息爬取"/>
	 
	 
	 <input type="button" onClick="spiderThreeMonth();" value="三月牛基信息爬取" />
	 <input type="button" onClick="spiderFOFFund();" value="FOF基金信息爬取"></input>
	 <input type="button" onClick="spiderCurrencyFund();" value="货币基金信息爬取"></input>
	 
	 

</body>
<script src="js/index.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
</html>